@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .indexBg {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.indexBg {
    background-image: url("../assets/indexBG.png"); 
    background-size: cover; 
    background-position: center top; 
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.indexTitle1{
    position: absolute;
    width: 725px;
    height: 368px;
    left: 11%;
    top: 140px;
    transform:translateX(-11%); 

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 117px;
    letter-spacing: 0.09em;
    
    color: #DA1C6F;

    z-index: 2;
    
}

.indexImage {
    position: absolute;
    width: 1109px;
    height: 950px;
    left: 50%;
    top: 50%;
    left: calc(50% - 1109px/2 - 567.5px);
    top: calc(50% - 1109px/2 + 107.5px);

    z-index: 1; 
}

.indexSubtext1 {
    position: absolute;
    width: max-content; 
    white-space: nowrap; 
    left: 12%;
    top: 500px;
    transform:translateX(-12%); 
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    z-index: 2;
}

.indexSubtext2 {
    position: absolute;
    width: 700px; 
    left: 10%;
    top: 570px;
    transform: translateX(-10%); 
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;

    z-index: 2;

    white-space: normal; 
}

.indexRequestBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 580px;
    height: 66px;
    left: 115px;
    top: 820px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #FFE3E2;

    border:none;

    background: #DA1C6F;
    border-radius: 5px;

    z-index: 2;
}

.indexRequestBtn a {
    text-decoration: none; 
    color: inherit; 
}


.indexHeader {
    position: absolute;
    top: 20px;
    left: 120px;
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.indexLogoContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.indexLogo {
    height: 40px; 
    width: auto;
}

.indexNav {
    position: absolute;
    left: 45%;
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    gap: 40px; 
}

.indexNav a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    position: relative;
    color: #000;
}

.indexNav a:hover {
    color:#DA1C6F;
}

.loginBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 137px;
    height: 43px;
    left: 1538px;
    top: 5px;

    background: #DA1C6F;
    border:none;
    border-radius: 5px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;

    color: #FFE3E2;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}



