@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.indexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.indexLogoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.indexLogo {
    width: 50px;
    height: 50px;
}

.indexTitle {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.indexNav {
    display: flex;
    gap: 4rem;
}

.indexNav a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    position: relative;
    color: #000;
}


.indexNav a:hover {
    color: #ff1493;
}

.loginBtn {
    padding: 0.2rem 2rem;
    width: 137px;
    height: 43px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;

    background: #ff1493;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.loginBtn:hover {
    border-radius: 5px;
    border: 1px solid #DA1C6F;
    color:#DA1C6F;
    background-color: transparent;
}

.indexNav a.active {
    color: #ff1493;
    font-weight: bold;
    border-bottom: 2px solid #ff1493;
}