@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


.req {
    background-image: url("../assets/reqPage_BG.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.allofelements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    max-width: 100%;
    padding-top: 100px;
    max-height: 150vh;
    padding-bottom: 0;
}
.reqText{
    width: 35vw;
    text-wrap: wrap;
    max-width: 800px;
    align-self: flex-start;
}

.requirements{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.reqTitle {
    font-size: 42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.09em;
    color: #DA1C6F;
}

.reqSubtext {
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000000;
}


.reqContainer {   
    margin-top: 20px;
    width: 40vw;
    max-width: 530px;
    height:auto;
    padding: 2rem;
    background-color: rgba(255, 197, 197, 0.10); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:400;
    font-family: "Manrope";
}

.reqSteps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    gap: 20px;
}

.reqStep1, .reqStep2, .reqStep3, .reqStep4 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; 
}

.stepsInfo, .reqNote {
    font-size: 1rem; 
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #000000;
    flex: 1;
}

.reqNote {
    margin-top: 1rem;
    text-align: justify;
}

.reqContainer2{
    width: 855px;
    height: 600px;
    align-self:flex-end;
    background: #FFC5C5;
    background-color: rgba(255, 197, 197, 0.27); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 3.75rem;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    font-weight:400;
    font-family: "Manrope";
    border-radius: 35px;
}


.fillUpTitle{
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 651px;
    height: 39px;


    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.09em;
    text-align: center;

    color: #000000;

    border-bottom: 1px solid #000000;
    transform: rotate(-0.09deg);

    z-index: 2;
}

.reqForm{
    position: absolute;
    width: 760px;
    height: 500px;

    z-index: 3;
}

.reqForm h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.09em;

    color: #DA1C6F;

    margin-bottom: 10px;
}

.reqForm input {
    width: 241px;
    height: 48px;

    background: #FFFEFE;
    border:none;
    border-radius: 5px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.09em;
    padding-left: 2%; 
    text-indent: 0;

    margin-right: 10px;
    color: #000000;
}

.reqForm input::placeholder {
    position: absolute;
    left: 5%; 
    transform: translate(0, -70%); 
    font-size: 11px; 
    color: #A6A6A6;
    text-transform: uppercase;

    text-indent: 0; 
    padding: 0; 
    
}

.reqFormSelect {
    width: 110px;
    height: 48px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-right:10px;

    font-family: 'Manrope';
    font-size: 11px;
    font-weight: 400;
    color: #A6A6A6; 
    text-transform: uppercase;
    padding-left: 10px;
}

.reqFormSelect option:disabled {
    color: #A6A6A6;
    top:50%;
}

.reqForm input.reqFormNum {
    width: 154px;
}

.reqForm input.reqFormNum {
    width: 133px;
}

.reqForm input.reqFormAddress {
    margin-top:20px;
    width: 745px;
}

.reqForm input.reqFormAddress::placeholder {
    position: absolute;
    left: 5%; 
    transform: translate(-45%, -80%); 
    font-size: 11px; 
    color: #A6A6A6;
    text-transform: uppercase;

    text-indent: 0; 
    padding: 0; 
    
}

.reqFormCertTitle{
margin-top: 20px;
}

.reqFormCertSelect,.reqFormCopyAmount{
    height: 48px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-right:10px;

    font-family: 'Manrope';
    font-size: 11px;
    font-weight: 400;
    color: #A6A6A6; 
    text-transform: uppercase;
    padding-left: 10px;
}
.reqFormCertSelect{
    width: 230px;
}

.reqFormCopyAmount{
    width: 253px;
}

.reqFormCert input{
    margin-top:5px !important;
}


.reqFormTermsContainer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    width: 100%; 
    margin-top: 35px; 
}

.reqForm input[type="checkbox"].reqFormTerms {
    background: #FFFEFE !important;
    border-radius: 5px !important;
    border: none !important;
    height: 25px !important;
    width: 25px !important;
}

.reqFormTermsLabel {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    letter-spacing: 0.09em;
    color: #000000;
    max-width: 620px;
}

.reqFormSubmitContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}

.reqFormSubmit {
    width: 225px;
    height: 43px;

    background: #DA1C6F;
    border-radius: 5px;
    border:none;

    font-family: 'Manrope';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    color: #FFE3E2;
}

.reqContact {
    width: 418px;
    z-index: 2;
    margin-top: 10px;
    align-self: center;
}

.reqContact h1, .reqContact h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.09em;
    color: #000000;
    margin-bottom: 5px; 
}

.reqContactNumber,
.reqContactFacebook,
.reqContactEmail {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 8px; 
}

.reqContact img {
    width: 32px; 
    height: 32px;
}


